<div class="mx-auto px-4 sm:px-12 xl:max-w-6xl xl:px-0">
  <h2 class="text-3xl font-bold text-gray-800 dark:text-white md:text-3xl xl:text-4xl tc mt-8">
    Mint, trade & sponsor open source contributions, with you in control
  </h2>

  {{ if .Params.features }}
  <div class=" flex-ns flex-wrap justify-center center mw9">
    {{ $features := .Params.features }}
    {{ range $i, $e := $features }}
    {{ $features_count := $e | len }}

    <div
      class="w-100{{ if and (eq $i $features_count) (ne (modBool $features_count 2) true) }} w-70-ns {{ else }} w-25-ns {{ end }}ph2-l pv5-l nested-copy-line-height">
      <!-- NOTE:  "if eq $i $features_count" makes the last item a bit wider for balance. If we use an even number of items, we'll want to remove this -->
      <div class="flex-l flex-wrap justify-between">
        <div class="flex-auto tc tl-ns w-100 w-80-ns">
          <div class="lh-title gray o-80 f4 f5-ns mb2 fw8 bmt1 mt0-l">
            {{ with .image_path }}
            <img src="{{ . }}" alt="icon depicting {{ $e.heading }}" class="o-80 v-mid center w-100">
            {{ end }}
          </div>

          <h2 class="lh-title committable-orange-color o-80 f4 f5-ns mb2 fw8 bmt1 mt0-l tc">
            {{ .heading }}
          </h2>
          <div class="db v-mid w-100 gray measure-wide mb5 mb0-l tc text-gray-600 dark:text-gray-300">
            <p class="f4 f5-ns mt0 mb2">{{.tagline}}</p>
            <div class="lh-copy">
              {{ .copy }}
            </div>
          </div>
        </div>
      </div>

    </div>
    {{ end }}
  </div>
  {{ end }}


  <h1 class="ph5-l lh-title text-gray-600 dark:text-gray-300 f4 f4-ns mb2 fw5 bmt1 mt0-l tc"> 
    Committable aims at creating a novel ecosystem for open-source software where all development contributions are verified and identifiable by the community
  </h1>

  <h2 class="text-3xl font-bold text-gray-800 dark:text-white md:text-3xl xl:text-4xl tc mt-8 mb-8">
    Mint your COMMIT
  </h2>

  <div class="tc">
    <img src="/img/features/mint.png">
  </div>

  <h2 class="text-3xl font-bold text-gray-800 dark:text-white md:text-3xl xl:text-4xl tc mt-8 mb-8">
    Earn bounties and community rewards
  </h2>

  <div class="tc">
    <img src="/img/features/bounty.png">
  </div>

</div>