<div class="flex-ns flex-wrap center mw9">

  {{ $interior_classes := $.Site.Params.flex_box_interior_classes }}

  <h3 class="f6 fw4 black"></h3>

  <div class="flex-ns flex-wrap justify-between">
      <div class="homepage-tweet relative {{ $interior_classes }} br1 mid-gray pv1 nested-links shadow-5">
        <h4 class="tc">Connect</h4>
        <blockquote>
          <p class="f5">
            Connect your GitHub project and wallet to Committable
          </p>
        </blockquote>
      </div>

      <div class="homepage-tweet relative {{ $interior_classes }} br1 mid-gray  pv3 nested-links shadow-5">
        <h4 class="tc">Mint</h4>
        <blockquote>
          <p class="f5">
            Contribute and mint your commits into COMMITS
          </p>
        </blockquote>
      </div>

      <div class="homepage-tweet relative {{ $interior_classes }} br1 mid-gray  pv3 nested-links shadow-5">
        <h4 class="tc">Donate</h4>
        <blockquote>
          <p class="f5">
            Bind your donation to a project's Pull Request
          </p>
        </blockquote>
      </div>

      <div class="homepage-tweet relative {{ $interior_classes }} br1 mid-gray  pv3 nested-links shadow-5">
        <h4 class="tc">Trade</h4>
        <blockquote>
          <p class="f5">
            Let the COMMITS flow and dance
          </p>
        </blockquote>
      </div>
  </div>
</div>
