<div class="md:6/12 lg:w-5/12">
  <div class="mb-8">
    <h3 class="mt-0.5 text-xl font-semibold text-gray-700 dark:text-white">
      Connect
    </h3>
    <p class="text-gray-600 dark:text-gray-300">
      Connect your GitHub project and wallet to Committable
    </p>
  </div>
  <div class="mt-8">
    <h3 class="mt-0.5 text-xl font-semibold text-gray-700 dark:text-white">
      Mint
    </h3>
    <p class="text-gray-600 dark:text-gray-300">
      Mint your contribution into COMMITs
    </p>
  </div>
  <div class="mt-8">
    <h3 class="mt-0.5 text-xl font-semibold text-gray-700 dark:text-white">
      Donate
    </h3>
    <p class="text-gray-600 dark:text-gray-300">
      Choose a project of your choice and donate to its pull request
    </p>
  </div>

  <div class="mt-8">
    <h3 class="mt-0.5 text-xl font-semibold text-gray-700 dark:text-white">
      Trade
    </h3>
    <p class="text-gray-600 dark:text-gray-300">
      Buy and sell COMMITs and become active into the Committable’s community
    </p>
  </div>
</div>